body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-card{
    width: 16vw;
    height: 16vw;
    display: flex;
    align-content: center;
    position: relative;
}

#field{
    display: grid;
    grid-template-columns: 32vw 30vw 32vw;
    height: 48vw;
    width: 94vw;
}
#left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#right{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.zones{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


.card{
    background-color: red;
    border: .2vw solid white;
}



.center{
    background-color: rgb(28, 28, 28);
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.phases{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:16vw;
    background-color: black;
}

#hand{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:100%;
}

#space{
    height: 20px;
}

.mz{
    background-color: blue;
}

.phase{
    border: .5vh solid red;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    text-align: center;
    text-justify: center;
    font-size: 7vh;
}
.lp{
    font-size: 12vh;
    text-justify: center;
}

h1{
    color: white;
}

.fit{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.stats{
    position: absolute;
    left:2vw;
    top: 60%;
    font-size: 3vw;
    background-color: white;
}